# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Dataset (DO NOT push large data)
dataset/images/
dataset/masks/

# Models (optional)
models/*.pth

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log